.profile-container {
    text-align: center;
    padding: 20px;
    background-color: aqua;
    /* width: fit-content; */
  }
  
  .details-container {
    margin-bottom: 20px;
  }
  
  .butto {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
  